<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dingsda QR Code / Barcode Batch processing
    </title>

    <script src = "./libs/vue.js"></script>
</head>
<body>
<div id="app" style="font-family: Arial, Helvetica, sans-serif;">

    <h2>dingsda QR Code / Barcode Batch processing</h2>

    <p>connect your input device, set it to end every scan with ENTER and let it scan into this input field:</p>
    <div v-if="targetlocation">
    <input id="maininput" type="text" placeholder="qr code or id" v-model.trim="qrcodeinput" style="line-height: 2em;font-size: 1.3em; width: 400px;">
    </div>
    <div style="margin-top: 1em; display: flex; flex-direction: row; height: 3em">
        <div>
            <button onclick="moveAllItems()" style="height: 100%;">MOVE ALL ITEMS</button><br>
            <button v-on:click="targetlocation.visible = true;" v-if="!targetlocation.visible">⬇DETAILS⬇</button>
        </div>
        <button onclick="moveAllItems()">EDIT ALL ITEMS</button>
        <button onclick="moveAllItems()">DELETE ALL ITEMS</button>
    </div>


    <div v-if="!targetlocation.visible" style="font-size: 1em;">
        <br>
        <span v-if="targetlocation.address">{{targetlocation.address}}<br></span>
        <span v-if="targetlocation.latitude">lat: {{targetlocation.latitude}}<br></span>
        <span v-if="targetlocation.longitude">lng: {{targetlocation.longitude}}<br></span>
        <span v-if="targetlocation.description">a.k.a.: {{targetlocation.description}}<br></span>
        <span v-if="targetlocation.insideOf">inside of: {{targetlocation.insideOf}}<br></span>
    </div>
    <div v-if="targetlocation.visible">
        <br>
        <input type="text" v-model="targetlocation.address" placeholder="address"><br>
        <input type="text" v-model="targetlocation.latitude" placeholder="latitude"><br>
        <input type="text" v-model="targetlocation.longitude" placeholder="longitude"><br>
        <input type="text" v-model="targetlocation.description" placeholder="description"><br>
        <input type="text" v-model="targetlocation.insideOf" placeholder="inside if item with id..."><br>
        <button v-on:click="targetlocation.visible = false">OK</button>
    </div>

    <h3>items scanned:</h3>
    <!--ul>
        <li v-for="(item, index) in qrcodeinputs">{{item}}</li>
    </ul-->

    <ul style="margin-block-start: 0;">
        <li v-for="(item, index) in fetchedItems" style="display: flex; vertical-align: middle; background-color: floralwhite; border: 1px solid gray;">
            <div style="align-items: center;display: flex;">
                <button style="width: 50px; height: 100%; margin-right: 20px;" v-on:mouseup="removeFromList(item)">X</button>
            </div>
            <div style="width: 50%;">
                {{item._id}}<br>
                <span style="background-color: aquamarine;">{{item.name}}</span><br>
                {{item.location.address}}<br>
                <span v-if="item.location.insideOf"><b>inside of: </b></span>{{item.location.insideOf}}<br>
                {{item.other.tags}}<br>
            </div>
            <img :src="item.hyperlink + '/' + Object.keys(item._attachments)[0]">

        </li>
    </ul>

</div>



</body>

<script type="module">

import * as dingsda from './dingsda_client.js'

import * as credentials from './.env.js'

window.dingsda = dingsda// expose dingsda for debugging remove for production!

const USERNAME = credentials.username();
const PASSWORD = credentials.password();

dingsda.setAPIUrl("https://dingsda.org:3000/api/v1/");



var app = new Vue({
  el: '#app',
  data: {
    qrcodeinput:"",
    qrcodeinputs:[],
    idslogged:[],
    fetchedItems: [],
    targetlocation:{
        visible: false,
        latitude: null,
        longitude: null,
        address: null,
        description: null,
        insideOf: null
    } 
  },
  methods:{
    removeFromArray: function(value,array){
        let index = array.indexOf(value);
        if (index !== -1) array.splice(index, 1);
    },
    removeFromList : function(item){
            console.log("removing ",item);
            this.removeFromArray(item._id,this.idslogged);
            this.removeFromArray(item.hyperlink,this.qrcodeinputs);
            this.removeFromArray(item._id,this.qrcodeinputs);
            this.fetchedItems = this.fetchedItems.filter(thing => thing._id != item._id);
            document.getElementById("maininput").focus()
        }
  }
})
window.app = app;

/////////////////////////////////////

// alternative: login via callback and/or eventlistener

/*dingsda.login(USERNAME,PASSWORD,(res)=>{
    console.log(res);
});

// Listen for the dingsdaloginsuccess event before you use the other dingsdaclient functions:
document.addEventListener('dingsdaloginsuccess', function (e) { 
    console.log("dingsdaloginsuccess! we can start now...");

    main();
    
}, false);

*/


// login
dingsda.login(USERNAME,PASSWORD).then((res)=>{
    console.log("login success via promise");

    console.log("dingsdaloginsuccess! we can start now...");

    main();
})


let barcodeinputs = []

function main(){

    console.log(dingsda.getAPIUrl());
    document.getElementById("maininput").focus();

    // QRcode/ Barcode listener (keyboard + enter) to fill array of inputs (it's own module? or maybe even helper inside of client module?)
    document.getElementById("maininput").addEventListener("keypress",(e)=>{
        if(e.key === "Enter")
        {
            let thingid = app.qrcodeinput;
            if (thingid.startsWith("http")){
                thingid = thingid.split("/")[thingid.split("/").length-1];
                console.log("thingid from url!: ",thingid);
            }
            if(app.idslogged.includes(thingid))
            {
                console.log(app.qrcodeinput, " already logged. will ignore");
                return app.qrcodeinput = "";
            }
            app.idslogged.push(thingid);
            app.qrcodeinputs.unshift(app.qrcodeinput);
            
            dingsda.getItem(app.qrcodeinput,USERNAME)
            .then((item)=>{ app.fetchedItems.unshift(item) })
            
            app.qrcodeinput = "";
            console.log(app.qrcodeinputs);
        }
    })

    // three ways to fetch an item from dingsda with the getItem method: // TODO: add also pw and username as possible params
    dingsda.getItem("https://dingsda.org:3000/api/v1/jan/08641a09-4a17-5f18-8e91-db3168a40a50").then((item)=>{
        console.log(item);
    })

    dingsda.getItem("jan/08641a09-4a17-5f18-8e91-db3168a40a50").then((item)=>{
        console.log(item);
    })

    dingsda.getItem("08641a09-4a17-5f18-8e91-db3168a40a50","jan").then((item)=>{
        console.log(item);
    })

}

// todo: apply bulk methods to list (...)

window.moveAllItems = async function moveAllItems(targetlocation = app.targetlocation, targetItems = app.fetchedItems){

    if ((!targetlocation.latitude || !targetlocation.longitude) && !targetlocation.insideOf){
        console.log("no location defined", "will open input");
        app.targetlocation.visible = true;
        return
    }

    if (targetlocation.insideOf){
        console.log("target location is inside of another item. will test if item exists first...");
        let container = await dingsda.getItem(targetlocation.insideOf,USERNAME)
        console.log(container);
        if (!container){
            return alert("target location is not a valid item id")
        }
        
    }

    let movePromises = [];
    for (const item of targetItems) 
    {
        console.log("moving ",item.hyperlink," to ",targetlocation);
        movePromises.push(dingsda.moveItem(item.hyperlink,targetlocation))
    }
    
    Promise.all(movePromises)
    .then((res)=>{
        console.log("done with all moves",res);
    })
}
</script>
</html>